window#waybar {
    font-family: CommitMono;
    padding: 0px;
    font-size: 0px;
    background: none;
    min-width: 20px;
    color: white;
}

.modules-right {
    font-size: 14px;
}

.modules-center {
}

.modules-left {
}

#clock {
}

#workspaces {
}

#workspaces button {
    padding: 0px;
    min-height: 2px;
    min-width: 10px;
    margin-top: 0px;
    margin-bottom: 12px;
    border: none;
    border-radius: 0px;
    background: gray;
    transition-property: background;
    transition-duration: 0.15s;
}

#workspaces button.active {
    background-color: white;
    transition-property: background;
    transition-duration: 0.15s;
}

