window#waybar {
    font-family: CommitMono;
    padding: 0px;
    font-size: 0px;
    background: none;
    min-width: 22px;
    color: @theme_text_color;
}

.modules-right {
    font-size: 13px;
    font-weight: 500;
}

.modules-center {
}

.modules-left {
}

#clock {
}

#network, #battery {
    padding-left: 3px;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#tray {
    padding-left: 1px;
}

#workspaces {
}

#workspaces button {
    padding: 0px;
    min-height: 2px;
    min-width: 10px;
    margin-top: 0px;
    margin-bottom: 12px;
    border: none;
    border-radius: 0px;
    background: @theme_text_color;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.15s;
}

#workspaces button.active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.15s;
}

