* {
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    min-height: 0px;
    background: none;
    box-shadow: none;
    color: @theme_fg_color;
    font-size: 12px;
    font-family: "SF Pro";
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-expand-icon,
#tray {
    margin: 0 8px;
}

#workspaces {
    margin: 0px;
}

#custom-menu {
    margin-left: 4px;
    margin-right: 8px;
    margin-top: -2px;
}

#clock {
    margin-left: 8px;
    margin-right: 4px;
}

#tray menu,
tooltip {
    background: @theme_bg_color;
    /* padding: 2px; */
    border: 1.5px solid @theme_fg_color;
}

tooltip label {
    text-shadow: none;
}


#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
}

#workspaces button {
    margin: 2px;
    min-width: 0px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
}

#workspaces button:hover {
}

