@import "aa.rasi"

entry {
	enabled: false;
}

window {
	location: north east;
	y-offset: 21;
	width: 100;
}

listview {
	scrollbar: false;
	padding: 0;
	border: 0;
}

mainbox {
	children: [listview];
}
